<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUGrWlBInloQcmcWzTaBLwAsAykU_6xkg</string>
	<key>GCM_SENDER_ID</key>
	<string>667742402157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopifyApp</string>
	<key>PROJECT_ID</key>
	<string>shopify-c1dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>shopify-c1dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667742402157:ios:0d8a34bd8f5a7ad360f164</string>
</dict>
</plist>